<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <!-- Redirect HTTP to HTTPS -->
                <rule name="Redirect HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="OFF" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- فقط صفحه اصلی -->
                

                <!-- Reverse Proxy -->
                <rule name="Send to 8445" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="https://localhost:8445/{R:1}" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>