<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <!-- Redirect HTTP to HTTPS -->
                <rule name="Redirect HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="OFF" />
                    </conditions>
                    <action type="Redirect"
                            url="https://{HTTP_HOST}/{R:1}"
                            redirectType="Permanent" />
                </rule>

                <!-- فقط صفحه اصلی -->
                <rule name="Map Default" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="^$" />
                    </conditions>
                    <action type="Redirect"
                            url="https://map.sabzevar.ir/?layers=mokeb&amp;lat=36.204356&amp;lng=57.683802&amp;zoom=14"
                            appendQueryString="false"
                            redirectType="Temporary" />
                </rule>

                <!-- Reverse Proxy -->
                <rule name="Send to 8445" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite"
                            url="https://localhost:8445/{R:1}" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>